button{
  background-color : white;
  height : 25px;
  width : 230px;
  border-radius: 59px;
  border : 1px solid grey;
}

#button-1 {
  position: absolute;
  left : 19%;
  top : 19%;
}

#button-2 {
  position: absolute;
  left : 19%;
  top : 24%;
}

#button-3 {
  position : absolute ;
  left : 19%;
  top : 29%;
}

#button-4 {
  position: absolute;
  left : 19%;
  top : 34%;
}

#button-5 {
  position: absolute;
  left : 19%;
  top : 39%;
}

#button-6 {
  position: absolute;
  left : 19%;
  top : 44%;
}

#button-7 {
  position: absolute;
  left : 19%;
  top : 49%;
}

#button-8 {
  position: absolute;
  left : 19%;
  top : 54%;
}

#button-9 {
  position: absolute;
  left : 19%;
  top : 59%;
}

#button-10 {
  position: absolute;
  left : 19%;
  top : 64%;
}

#button-11 {
  position: absolute;
  left : 19%;
  top : 69%;
}

#button-12 {
  position: absolute;
  left : 19%;
  top : 74%;
}

#button-13 {
  position: absolute;
  left : 19%;
  top : 79%;
}



#science {
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}

#line {
  height: 1px;
  width : 150px;
  background-color: grey;
  position: absolute;
  top : 12%;
  left : 29%;
}